/* archivo de estilos */
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
:root{
    font-size: 8px;
}
body{
    background-color: bisque;
    font-size: 24px;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    font-variant: small-caps;
    font-style: italic;
    
}
h2{
    font-size: 2rem;
}
h3 strong{
    color:red;
}
h1, h2, h3{
    color:darkblue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}



/*
px -> pixeles
fuentes 16px
px

rem (root element's font-size)
1 rem -> 16px
1.5 rem -> 16 * 1.5 = 24px
2rem = 32px
1.5 rem = (16*1.5 = 24px)
26px -> 26/16= 1.625rem

https://theodorusclarence.com/blog/btb-rem-em

*/

   